.gear {
  align-self: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: #fff;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
  opacity: 0.3;
}

.gearActive {
  border: solid #d0e0f0 0.3rem;
  color: #fff;
  font-size: 1.7rem;
  opacity: 1;
}

.gearR,
.gearR_Right {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.gearN,
.gearN_Right {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.gearD,
.gearD_Right {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
}

.gearD_Right {
  grid-column-start: 3;
  grid-column-end: 4;
}

.gearP,
.gearP_Right {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
}

.gearP_Right {
  grid-column-start: 2;
  grid-column-end: 2;
}

.gearB,
.gearB_Right {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
}

.gearR_Right,
.gearB_Right {
  grid-column-start: 1;
  grid-column-end: 1;
}
