.speedometer {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.speedCounter,
.speedUnit {
  fill: #fff;
  font-size: 1.5rem;
  font-variant-numeric: tabular-nums;
}

.speedUnit {
  letter-spacing: 0.1rem;
}

.speedCounter {
  font-size: 8rem;
  font-weight: bold;
}
